.text-content {
  background-color: white;
  border-width: 1px;
  border-radius: 10px;
  border-style: solid;
  margin: 15px;
  max-width: 1000px;
  width: 100%;
}

.text-content > p {
  text-align: left;
  margin: 15px;
  line-height: 1.4;
  font-size: large;
  font-family: roboto;
}

.text-content > h3 {
  text-align: left;
  margin: 15px 20px;
}
